rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users koleksiyonu için kurallar
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    
    // Selections koleksiyonu için kurallar
    match /selections/{selectionId} {
      allow read: if request.auth != null;
      // Sadece kendi oluşturduğu rezervasyonu silebilir
      allow delete: if request.auth != null && resource.data.createdBy == request.auth.uid;
      // Yeni rezervasyon oluşturabilir
      allow create: if request.auth != null;
    }
    
    // GameRooms koleksiyonu için kurallar
    match /gameRooms/{roomId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null;
      allow delete: if request.auth != null && resource.data.players.player1.id == request.auth.uid;
    }
  }
} 